<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.deliver.dao.AreaDao" >
  <resultMap id="BaseResultMap" type="cn.deliver.domain.Area" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="town" property="town" jdbcType="VARCHAR" />
    <result column="village" property="village" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="ConsigneeDetailMap" type="cn.deliver.domain.ConsigneeDetail">
    <id column="id" property="areaId" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="town" property="town" jdbcType="VARCHAR" />
    <result column="village" property="village" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
  </resultMap>


  <sql id="Base_Column_List" >
    id, uid, province, city, district, town, village, detail, cid, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from area
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from area
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="cn.deliver.domain.Area" >
    insert into area (id, uid, province,
    city, district, town,
    village, detail, cid,
    type)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR},
    #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, #{town,jdbcType=VARCHAR},
    #{village,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, #{cid,jdbcType=INTEGER},
    #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="cn.deliver.domain.Area" >
    insert into area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="town != null" >
        town,
      </if>
      <if test="village != null" >
        village,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="town != null" >
        #{town,jdbcType=VARCHAR},
      </if>
      <if test="village != null" >
        #{village,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.deliver.domain.Area" >
    update area
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="town != null" >
        town = #{town,jdbcType=VARCHAR},
      </if>
      <if test="village != null" >
        village = #{village,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.deliver.domain.Area" >
    update area
    set uid = #{uid,jdbcType=INTEGER},
    province = #{province,jdbcType=VARCHAR},
    city = #{city,jdbcType=VARCHAR},
    district = #{district,jdbcType=VARCHAR},
    town = #{town,jdbcType=VARCHAR},
    village = #{village,jdbcType=VARCHAR},
    detail = #{detail,jdbcType=VARCHAR},
    cid = #{cid,jdbcType=INTEGER},
    type = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateBelongAreaByUid" parameterType="cn.deliver.domain.Area">
    update area
    set province = #{province,jdbcType=VARCHAR} ,
    city = #{city,jdbcType=VARCHAR} ,
    district = #{district,jdbcType=VARCHAR} ,
    town = #{town,jdbcType=VARCHAR},
    village = #{village,jdbcType=VARCHAR},
    detail = #{detail,jdbcType=VARCHAR} ,
    where uid = #{uid,jdbcType=INTEGER}
    and type = 1;
  </update>
  <update id="updateCommonToDefaultById" >
    <if test="AreaType == 'consignee'">
      update area set type = 2
    </if>
    <if test="AreaType == 'deliver'">
      update area set type = 4
    </if>
    where id = #{areaId,jdbcType=INTEGER}
  </update>
  <update id="updateDefaultToCommonByUid" >
    <if test="AreaType == 'consignee'">
      update area set type = 3 where uid = #{uid,jdbcType=INTEGER} and type = 2;
    </if>
    <if test="AreaType == 'deliver'">
      update area set type = 5 where uid = #{uid,jdbcType=INTEGER} and type = 4;
    </if>
  </update>
  <!--  通过uid和状态查找地址  -->
  <select id="findAreaByUidAndType"  resultMap="BaseResultMap">
    select * from area where uid = #{uid,jdbcType=INTEGER} and type = #{type,jdbcType=VARCHAR} ;
  </select>
  <insert id="insertUserArea" parameterType="cn.deliver.domain.Area" useGeneratedKeys="true" keyProperty="id">
    insert into area
    (uid,province,city,district,type)
    values
    (#{uid},#{province},#{city},#{district},#{type})
  </insert>
  <select id="findAllDeliverAreaByUid" resultMap="BaseResultMap">
    select * from area
    where uid = #{uid,jdbcType=INTEGER}
    and  type in (4,5)
  </select>
  <delete id="deleteByAreaId" parameterType="java.lang.Integer">
    update area set type = 8 where id = #{areaId,jdbcType=INTEGER} ;
  </delete>
  <select id="findAllConsigneeAreaByUid" resultMap="ConsigneeDetailMap">
    SELECT
    `user`.phone,
    user_info.`name`,
    area.id,
    area.province,
    area.city,
    area.district,
    area.town,
    area.village,
    area.detail,
    area.cid,
    area.type
    FROM
    area,
    user_info,
    `user`
    WHERE
    area.uid = #{uid,jdbcType=INTEGER}
    AND area.cid = `user`.id
    AND user_info.uid = area.cid
    AND area.type IN ( 2, 3 );
  </select>
</mapper>