<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.deliver.dao.DriverInfoDao" >
  <resultMap id="BaseResultMap" type="cn.deliver.domain.DriverInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uiid" property="uiid" jdbcType="INTEGER" />
    <result column="car_type" property="carType" jdbcType="VARCHAR" />
    <result column="driving_licence_picture" property="drivingLicencePicture" jdbcType="VARCHAR" />
    <result column="car_picture" property="carPicture" jdbcType="VARCHAR" />
    <result column="running_route" property="runningRoute" jdbcType="VARCHAR" />
    <result column="order_number" property="orderNumber" jdbcType="INTEGER" />
    <result column="car_number" property="carNumber" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uiid, car_type, driving_licence_picture, car_picture, running_route, order_number,
    car_number, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from driver_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from driver_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="cn.deliver.domain.DriverInfo" >
    insert into driver_info (id, uiid, car_type,
    driving_licence_picture, car_picture, running_route,
    order_number, car_number, status
    )
    values (#{id,jdbcType=INTEGER}, #{uiid,jdbcType=INTEGER}, #{carType,jdbcType=VARCHAR},
    #{drivingLicencePicture,jdbcType=VARCHAR}, #{carPicture,jdbcType=VARCHAR}, #{runningRoute,jdbcType=VARCHAR},
    #{orderNumber,jdbcType=INTEGER}, #{carNumber,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}
    )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="cn.deliver.domain.DriverInfo" >
    insert into driver_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uiid != null" >
        uiid,
      </if>
      <if test="carType != null" >
        car_type,
      </if>
      <if test="drivingLicencePicture != null" >
        driving_licence_picture,
      </if>
      <if test="carPicture != null" >
        car_picture,
      </if>
      <if test="runningRoute != null" >
        running_route,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
      <if test="carNumber != null" >
        car_number,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uiid != null" >
        #{uiid,jdbcType=INTEGER},
      </if>
      <if test="carType != null" >
        #{carType,jdbcType=VARCHAR},
      </if>
      <if test="drivingLicencePicture != null" >
        #{drivingLicencePicture,jdbcType=VARCHAR},
      </if>
      <if test="carPicture != null" >
        #{carPicture,jdbcType=VARCHAR},
      </if>
      <if test="runningRoute != null" >
        #{runningRoute,jdbcType=VARCHAR},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=INTEGER},
      </if>
      <if test="carNumber != null" >
        #{carNumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.deliver.domain.DriverInfo" >
    update driver_info
    <set >
      <if test="uiid != null" >
        uiid = #{uiid,jdbcType=INTEGER},
      </if>
      <if test="carType != null" >
        car_type = #{carType,jdbcType=VARCHAR},
      </if>
      <if test="drivingLicencePicture != null" >
        driving_licence_picture = #{drivingLicencePicture,jdbcType=VARCHAR},
      </if>
      <if test="carPicture != null" >
        car_picture = #{carPicture,jdbcType=VARCHAR},
      </if>
      <if test="runningRoute != null" >
        running_route = #{runningRoute,jdbcType=VARCHAR},
      </if>
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=INTEGER},
      </if>
      <if test="carNumber != null" >
        car_number = #{carNumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.deliver.domain.DriverInfo" >
    update driver_info
    set uiid = #{uiid,jdbcType=INTEGER},
    car_type = #{carType,jdbcType=VARCHAR},
    driving_licence_picture = #{drivingLicencePicture,jdbcType=VARCHAR},
    car_picture = #{carPicture,jdbcType=VARCHAR},
    running_route = #{runningRoute,jdbcType=VARCHAR},
    order_number = #{orderNumber,jdbcType=INTEGER},
    car_number = #{carNumber,jdbcType=VARCHAR},
    status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="driverInfoRegister" parameterType="cn.deliver.domain.DriverInfo" useGeneratedKeys="true" keyProperty="id">
    insert into driver_info
    (uiid,car_type,driving_licence_picture,car_picture
    <if test="runningRoute != null">
      ,running_route
    </if>
    )
    values
    (#{uiid},#{carType},#{drivingLicencePicture},#{carPicture}
    <if test=" runningRoute != null">
      ,#{runningRoute}
    </if>
    )
  </insert>
  <select id="getDriverInfoById" resultMap="BaseResultMap">
    select car_type,car_picture,running_route,car_number,status from driver_info where uiid = #{id};
  </select>
</mapper>