<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.deliver.dao.UserInfoDao" >
  <resultMap id="BaseResultMap" type="cn.deliver.domain.UserInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="identity_card" property="identityCard" jdbcType="VARCHAR" />
    <result column="identity_card_picture" property="identityCardPicture" jdbcType="VARCHAR" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, name, gender, birthday, identity_card, identity_card_picture, avatar
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="cn.deliver.domain.UserInfo" >
    insert into user_info (id, uid, name,
    gender, birthday, identity_card,
    identity_card_picture, avatar)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
    #{gender,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, #{identityCard,jdbcType=VARCHAR},
    #{identityCardPicture,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="cn.deliver.domain.UserInfo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="identityCard != null" >
        identity_card,
      </if>
      <if test="identityCardPicture != null" >
        identity_card_picture,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="identityCard != null" >
        #{identityCard,jdbcType=VARCHAR},
      </if>
      <if test="identityCardPicture != null" >
        #{identityCardPicture,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.deliver.domain.UserInfo" >
    update user_info
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="identityCard != null" >
        identity_card = #{identityCard,jdbcType=VARCHAR},
      </if>
      <if test="identityCardPicture != null" >
        identity_card_picture = #{identityCardPicture,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.deliver.domain.UserInfo" >
    update user_info
    set uid = #{uid,jdbcType=INTEGER},
    name = #{name,jdbcType=VARCHAR},
    gender = #{gender,jdbcType=VARCHAR},
    birthday = #{birthday,jdbcType=DATE},
    identity_card = #{identityCard,jdbcType=VARCHAR},
    identity_card_picture = #{identityCardPicture,jdbcType=VARCHAR},
    avatar = #{avatar,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectSurety" parameterType="java.lang.Integer" resultType="cn.deliver.domain.UserInfo">
    SELECT
    user_info.*
    FROM
    user_info
    INNER JOIN area ON area.village = (
    SELECT DISTINCT
    area.village
    FROM
    area
    WHERE
    area.uid =  #{uid,jdbcType=INTEGER}
    )
    AND area.status = 1
    AND area.uid = user_info.uid;
  </select>
  <select id="findByUid" resultMap="BaseResultMap">
    select * from user_info where uid = #{uid,jdbcType=INTEGER}
  </select>
  <!-- 插入用户信息 -->
  <insert id="insertUserInfo" parameterType="cn.deliver.domain.UserInfo">
    insert into user_info(uid,name,gender,birthday,avatar)
    values(#{uid},#{name},#{gender},#{birthday},#{avatar})
  </insert>
  <!--用户司机注册时需额外填写的共同详细信息(姓名、性别、生日、身份证号码、上传身份证照片等)-->
  <insert id="userInfoRegister" parameterType="cn.deliver.domain.UserInfo" useGeneratedKeys="true" keyProperty="id">
    insert into user_info
    (uid,name,gender,birthday,identity_card,identity_card_picture
    <if test="avatar != null">
      ,avatar
    </if>
    )
    values
    (#{uid},#{name},#{gender},#{birthday},#{identityCard},#{identityCardPicture}
    <if test="avatar != null">
      ,#{avatar}
    </if>
    )
  </insert>
  <!--根据用户的userInfoId找到对应user表中的系统发放id-->
  <select id="findUserAuthId" resultType="java.lang.String">
    select auth_id from user where id = (select uid from user_info where id = #{userInfoId})
  </select>
  <select id="findNameByUid" resultType="java.lang.String">
    select name from user_info where uid = #{uid,jdbcType=INTEGER} ;
  </select>
  <select id="getUserInfoById" resultMap="BaseResultMap">
    select id,name,gender,birthday,avatar from user_info where
    uid = #{id}
  </select>
  <update id="updateUserInfo" keyProperty=""></update>
</mapper>