<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.deliver.dao.UserOrderDao" >
  <resultMap id="BaseResultMap" type="cn.deliver.domain.UserOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="pay" property="pay" jdbcType="DECIMAL" />
    <result column="delivery_start_time" property="deliveryStartTime" jdbcType="TIMESTAMP" />
    <result column="delivery_end_time" property="deliveryEndTime" jdbcType="TIMESTAMP" />
    <result column="deliver_area_id" property="deliverAreaId" jdbcType="INTEGER" />
    <result column="consignee_area_id" property="consigneeAreaId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="goods_picture1" property="goodsPicture1" jdbcType="VARCHAR" />
    <result column="goods_picture2" property="goodsPicture2" jdbcType="VARCHAR" />
    <result column="goods_picture3" property="goodsPicture3" jdbcType="VARCHAR" />
    <result column="user_order_number" property="userOrderNumber" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="surety_id" property="suretyId" jdbcType="INTEGER" />
    <result column="driver_uid" property="driverUid" jdbcType="INTEGER" />
    <result column="driver_route_id" property="driverRouteId" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="UserOrderBriefResultMap" type="cn.deliver.domain.UserOrderBrief" >
    <result column="user_order_id" property="userOrderId" jdbcType="INTEGER" />
    <result column="driver_route_id" property="driverRouteId" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="pay" property="pay" jdbcType="DECIMAL" />
    <result column="goods_picture1" property="goodsPicture1" jdbcType="VARCHAR" />
    <result column="goods_picture2" property="goodsPicture2" jdbcType="VARCHAR" />
    <result column="goods_picture3" property="goodsPicture3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, description, pay, delivery_start_time, delivery_end_time, deliver_area_id,
    consignee_area_id, status, goods_picture1, goods_picture2, goods_picture3, user_order_number,
    create_time, update_time, surety_id, driver_uid, driver_route_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from user_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="cn.deliver.domain.UserOrder" >
    insert into user_order (id, uid, description,
    pay, delivery_start_time, delivery_end_time,
    deliver_area_id, consignee_area_id, status,
    goods_picture1, goods_picture2, goods_picture3,
    user_order_number, create_time, update_time,
    surety_id, driver_uid, driver_route_id
    )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR},
    #{pay,jdbcType=DECIMAL}, #{deliveryStartTime,jdbcType=TIMESTAMP}, #{deliveryEndTime,jdbcType=TIMESTAMP},
    #{deliverAreaId,jdbcType=INTEGER}, #{consigneeAreaId,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR},
    #{goodsPicture1,jdbcType=VARCHAR}, #{goodsPicture2,jdbcType=VARCHAR}, #{goodsPicture3,jdbcType=VARCHAR},
    #{userOrderNumber,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
    #{suretyId,jdbcType=INTEGER}, #{driverUid,jdbcType=INTEGER}, #{driverRouteId,jdbcType=INTEGER}
    )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="cn.deliver.domain.UserOrder" >
    insert into user_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="pay != null" >
        pay,
      </if>
      <if test="deliveryStartTime != null" >
        delivery_start_time,
      </if>
      <if test="deliveryEndTime != null" >
        delivery_end_time,
      </if>
      <if test="deliverAreaId != null" >
        deliver_area_id,
      </if>
      <if test="consigneeAreaId != null" >
        consignee_area_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="goodsPicture1 != null" >
        goods_picture1,
      </if>
      <if test="goodsPicture2 != null" >
        goods_picture2,
      </if>
      <if test="goodsPicture3 != null" >
        goods_picture3,
      </if>
      <if test="userOrderNumber != null" >
        user_order_number,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="suretyId != null" >
        surety_id,
      </if>
      <if test="driverUid != null" >
        driver_uid,
      </if>
      <if test="driverRouteId != null" >
        driver_route_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="pay != null" >
        #{pay,jdbcType=DECIMAL},
      </if>
      <if test="deliveryStartTime != null" >
        #{deliveryStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryEndTime != null" >
        #{deliveryEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliverAreaId != null" >
        #{deliverAreaId,jdbcType=INTEGER},
      </if>
      <if test="consigneeAreaId != null" >
        #{consigneeAreaId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="goodsPicture1 != null" >
        #{goodsPicture1,jdbcType=VARCHAR},
      </if>
      <if test="goodsPicture2 != null" >
        #{goodsPicture2,jdbcType=VARCHAR},
      </if>
      <if test="goodsPicture3 != null" >
        #{goodsPicture3,jdbcType=VARCHAR},
      </if>
      <if test="userOrderNumber != null" >
        #{userOrderNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="suretyId != null" >
        #{suretyId,jdbcType=INTEGER},
      </if>
      <if test="driverUid != null" >
        #{driverUid,jdbcType=INTEGER},
      </if>
      <if test="driverRouteId != null" >
        #{driverRouteId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.deliver.domain.UserOrder" >
    update user_order
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="pay != null" >
        pay = #{pay,jdbcType=DECIMAL},
      </if>
      <if test="deliveryStartTime != null" >
        delivery_start_time = #{deliveryStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryEndTime != null" >
        delivery_end_time = #{deliveryEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliverAreaId != null" >
        deliver_area_id = #{deliverAreaId,jdbcType=INTEGER},
      </if>
      <if test="consigneeAreaId != null" >
        consignee_area_id = #{consigneeAreaId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="goodsPicture1 != null" >
        goods_picture1 = #{goodsPicture1,jdbcType=VARCHAR},
      </if>
      <if test="goodsPicture2 != null" >
        goods_picture2 = #{goodsPicture2,jdbcType=VARCHAR},
      </if>
      <if test="goodsPicture3 != null" >
        goods_picture3 = #{goodsPicture3,jdbcType=VARCHAR},
      </if>
      <if test="userOrderNumber != null" >
        user_order_number = #{userOrderNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="suretyId != null" >
        surety_id = #{suretyId,jdbcType=INTEGER},
      </if>
      <if test="driverUid != null" >
        driver_uid = #{driverUid,jdbcType=INTEGER},
      </if>
      <if test="driverRouteId != null" >
        driver_route_id = #{driverRouteId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.deliver.domain.UserOrder" >
    update user_order
    set uid = #{uid,jdbcType=INTEGER},
    description = #{description,jdbcType=VARCHAR},
    pay = #{pay,jdbcType=DECIMAL},
    delivery_start_time = #{deliveryStartTime,jdbcType=TIMESTAMP},
    delivery_end_time = #{deliveryEndTime,jdbcType=TIMESTAMP},
    deliver_area_id = #{deliverAreaId,jdbcType=INTEGER},
    consignee_area_id = #{consigneeAreaId,jdbcType=INTEGER},
    status = #{status,jdbcType=VARCHAR},
    goods_picture1 = #{goodsPicture1,jdbcType=VARCHAR},
    goods_picture2 = #{goodsPicture2,jdbcType=VARCHAR},
    goods_picture3 = #{goodsPicture3,jdbcType=VARCHAR},
    user_order_number = #{userOrderNumber,jdbcType=VARCHAR},
    create_time = #{createTime,jdbcType=TIMESTAMP},
    update_time = #{updateTime,jdbcType=TIMESTAMP},
    surety_id = #{suretyId,jdbcType=INTEGER},
    driver_uid = #{driverUid,jdbcType=INTEGER},
    driver_route_id = #{driverRouteId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateStatusByType">
    update user_order
    <set >
      <if test="type == 'suretyRefuse'" >
        status = '2'
      </if>
      <if test="type == 'suretyConfirm'" >
        status = '1'
      </if>
      <if test="type == 'contactConfirm'" >
        status = '4'
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </set>
    where id = #{userOrderId,jdbcType=INTEGER}
  </update>
  <select id="findAllByUid" resultMap="BaseResultMap">
    SELECT
		uo.id,
		uo.description,
		uo.`status`,
		uo.goods_picture1,
		uo.goods_picture2,
		uo.goods_picture3,
        uo.pay
	FROM
		user_order AS uo
	WHERE
		uo.uid = #{userId,jdbcType=INTEGER}
    </select>
  <select id="findBySuretyIdAndStatus" resultMap="BaseResultMap">
      SELECT
      uo.id,
      uo.description,
      uo.goods_picture1,
      uo.goods_picture2,
      uo.goods_picture3,
      uo.pay
      FROM
      user_order AS uo
      WHERE
      uo.surety_id = #{suretyId,jdbcType=INTEGER}
      AND uo.status = '0'
    </select>
  <select id="findByCid" resultMap="BaseResultMap">
    SELECT
    uo.id,
    uo.description,
    uo.goods_picture1,
    uo.goods_picture2,
    uo.goods_picture3
    FROM
    user_order AS uo,
    area
    WHERE
    area.cid = #{cid,jdbcType=INTEGER}
    AND uo.status = '3'
    AND area.id = uo.consignee_area_id
  </select>
  <select id="findNearByArea" resultMap="BaseResultMap">
    SELECT
    uo.id,
    uo.description,
    uo.goods_picture1,
    uo.goods_picture2,
    uo.goods_picture3
    FROM
    user_order AS uo,
    area
    WHERE
    uo.deliver_area_id = area.id
    AND area.city = #{city,jdbcType=VARCHAR}
    AND area.district = #{district,jdbcType=VARCHAR}
    AND area.town = #{town,jdbcType=VARCHAR}
    AND area.village = #{village,jdbcType=VARCHAR}
    AND uo.status = "1"
  </select>
  <update id="updateDriverUidById">
    update user_order
    set driver_uid = #{driverUid,jdbcType=INTEGER},
    where id = #{userOrderId,jdbcType=INTEGER}
  </update>
    <select id="findInvitationByDriverUid" resultMap="UserOrderBriefResultMap">
      SELECT
      uo.id AS user_order_id,
      dr.id AS driver_route_id,
      uo.description,
      uo.goods_picture1,
      uo.goods_picture2,
      uo.goods_picture3,
      uo.pay
      FROM
      user_order AS uo,
      invitation,
      driver_route AS dr
      WHERE
      dr.uid = #{driverUid,jdbcType=INTEGER}
      AND dr.id = invitation.driver_route_id
      AND uo.id = invitation.user_order_id
    </select>

</mapper>